.balance-val {
    font-size: 30px;
    color: blue;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.col h2 {
    margin: 0;
    padding: 0;
}

.row-expense {
    box-shadow: var(--box-shadow);
    margin-top: 20px;
    width: 240px;
}

.col-income, .col-expense {
    padding: 20px;
    display: flex;
}

.col-expense {
    padding-left: 10px;
}

.col-income span {
    display: inline-block;
    border-right: 1px solid #ccc;
    padding-right: 30px;
}

.income-text {
    color: #097969;
    font-weight: bold;
}

.expense-text {
    color:  #C70039;
    font-weight: bold;
}

.transactions, .transactions li {
    padding: 0;
    margin: 0;
}

.transactions li {
    display: flex;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    margin-bottom: 10px;
    padding: 10px;
}

.transactions li div {
    margin-right: 10px;
}

.transactions li span {
    display: inline-block;
    margin-right: 10px;
}

.transaction-form {
    display: flex;
    flex-direction: column;
}

.transaction-form input {
    width: 97%;
    height: 25px;
}

.transaction-form label {
    margin-bottom: 10px;
}

.transaction-form button {
    height: 30px;
    margin-bottom: 5px;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    width: 100%;
}

.income-btn {
    background-color: #097969;
    font-weight: bold;
    color: #fff;
}

.expense-btn {
    background-color: #C70039;
    font-weight: bold;
    color: #fff;

}

.expense-card {
    height: 100%;
}

.header {
height: 400px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
